/* .swal2-container.swal2-top-end>.swal2-popup,
.swal2-container.swal2-top-right>.swal2-popup {
    grid-column: 3;
    align-self: start;
    justify-self: end;
    background: #afffa6 !important;
}

.swal2-popup.swal2-toast .swal2-icon.swal2-success .swal2-success-ring {
    width: 2em;
    height: 2em;
    background: white;
    color: green;
} */

img.user-image.rounded-circle.avatar.bg-white.mx-10.alt\= {
    height: 260px;
    width: 260px;
}